<section id="<%= post.layout %>-<%= post.slug %>" class="article section article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <% if (post.link || post.post_title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
      <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
      </div>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
</section>
<section class="comments section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- START DISQUS -->
        <div class="disqus container narrow">
          <div id="disqus_thread"></div>
          <script>
          (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
              var d = document, s = d.createElement('script');
              
              s.src = '//viralfoundry.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
              
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        <!-- END DISQUS -->
      </div>
    </div>
  </div>
</section>
<%- partial('_partial/newsletter') %>
<section class="section share">
  <div class="container">
    <div class="columns heading">
      <div class="column">
        <h3>SHARE</h3>
        <h2>Dig this? Share Post With Friends and Colleagues</h2>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="preview">
          <img src="<%= post.post_image %>"/>
          <div class="content">
            <h4><%= post.post_title %></h4>
            <p><%= post.post_description %></p>
            <span><%= truncate(post.permalink, {length: 60}) %></span>
          </div>
        </div>
      </div>
      <div class="column is-7">
        <div class="columns is-multiline is-mobile is-desktop">
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>Facebook</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>Twitter</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>LinkedIn</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>E-Mail</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>WhatsApp</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>Messenger</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>Telegram</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>WeChat</h5>
            </div>
          </div>
          <div class="column is-half-mobile is-one-third-desktop is-one-third-tablet">
            <div class="previewbutton">
              <h5>Line</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section journal">
  <div class="container">
    <div class="columns heading">
      <div class="column">
        <h3>WORDS</h3>
        <h2>Latest Journal Entries</h2>
      </div>
    </div>
    <div class="columns content">
      <ul>
        <% site.posts.each(function(_post){ %>
          <li>
            <a href="<%- url_for(_post.path) %>">
              <div class="journal-preview">
                <h4><%- _post.post_title %></h4>
                <span><%= date(_post.date, 'MMM DD, YYYY') %></span>
              </div>
            </a>
          </li>
        <% }) %>  
      </ul>
    </div>
    <div class="columns">
      <div class="column">
        <a class="more" href="/">See All Journal Entries</a>
      </div>
    </div>
  </div>
</section>
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>