<section class="section compass">
  <div class="container">
    <div class="columns heading">
      <div class="column">
        <h3>Compass</h3>
        <h2>Where to next?</h2>
      </div>
    </div>
    <div class="columns is-multiline is-mobile is-desktop">
      <div class="column is-half-mobile is-one-quarter-desktop">
        <a href="/blog">
          <div class="content">
            <h5>Blog</h5>
          </div>
        </a>
      </div>
      <div class="column is-half-mobile is-one-quarter-desktop">
        <a href="/about">
          <div class="content">
            <h5>About</h5>
          </div>
        </a>
      </div>
      <div class="column is-half-mobile is-one-quarter-desktop">
        <a href="/#">
          <div class="content">
            <h5>Social Impact</h5>
          </div>
        </a>
      </div>
      <div class="column is-half-mobile is-one-quarter-desktop">
        <a href="https://calendly.com/allbombs">
          <div class="content">
            <h5>Hire Me</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>