<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;
  var description = page.description;
  var og_title = page.og_title;
  var og_description = page.og_description;
  var tw_title = page.tw_title;
  var tw_description = page.tw_description;
  var image = config.url + '/' + page.image;
  var url = page.permalink;

  if (page.layout == 'about' || page.layout == 'blog') {
    image = config.url + '/' + page.image;
    url = config.url + '/' + page.layout;
  }

  if (is_home()) {
    title = config.title;
    description = config.description;
    url = config.url;
    image = config.url + '/' + config.image;
    og_title = config.og_title;
    og_description = config.og_description;
    tw_title = config.tw_title;
    tw_description = config.tw_description;
  }

  <!--
  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  -->
  %>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--Website Previews Tags for Search Engines, Social Networks, and Messaging Platforms.

  #### Place this data between the <head> tags of your website.

  Created, tested, and optimized using Lookout by Mobile Cavalry.
  http://unfurls.co.com/lookout
  -->

  <!--- Search Tags --->
  <meta name="description" content="<%= description %>"/>
  <link rel="canonical" href="<%= url %>">
  <meta name="robots" content="follow, index">

  <!-- FB Open Graph data -->
  <meta property="og:title" content="<%= og_title %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= image %>">
  <meta property="og:description" content="<%= og_description %>">
  <meta property="og:url" content="<%= url %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= tw_title %>">
  <meta name="twitter:description" content="<%= og_description %>">
  <meta name="twitter:image" content="<%= image %>">
  <meta name="twitter:url" content="<%= url %>">
  <!--
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  -->
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <%- css('css/main') %>
</head>
