<section class="section newsletter">
  <div class="container">
    <div class="wrapper">
      <h2>Hi, thanks for stopping by! Get notified of new product drops, interesting finds, blog posts, and more. Unsubscribe any time.</h2>
      <div class="input-group m-form">
        <form 
          id="mailchimpForm"
        >
        <input 
          id="newsLetterEmail"
          type="text"
          name="EMAIL" 
          value=""
          onfocus="this.placeholder = ''" 
          onblur="this.placeholder = 'stardust@gmail.com'"
          placeholder="stardust@gmail.com"
        >
        <input type="submit" value="Join">
      </div>
      <div class="input-group response-error" style="display: none;">
        <span class="response-error-text"></span>
      </div>
      <div class="input-group response" style="display: none;">
        <span class="success">Yup, we got you -- thank you for subscribing!</span>
      </div>
    </div>
  </div>
</section>