<nav class="navbar container" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../images/kenny-is-logo.svg" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
        <g fill="#FFF" fill-rule="evenodd" transform="translate(-1 -1)">
            <rect width="34" height="4" x="-3" y="12" rx="1.5" transform="rotate(135 14 14)"/>
            <rect width="34" height="4" x="-3" y="12" rx="1.5" transform="rotate(-135 14 14)"/>
        </g>
      </svg>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item color-transition" href="/about">
        ABOUT
      </a>
      <a class="navbar-item color-transition" href="/now">
        NOW
      </a>
      <a class="navbar-item color-transition" href="/blog">
        BLOG
      </a>
      <a class="navbar-item color-transition" href="mailto:kennywgrant@gmail.com">
        CONTACT
      </a>
    </div>
    <div class="navbar-end navbar-social">
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="35" viewBox="0 0 41 35">
          <path fill="#FFF" fill-rule="evenodd" d="M35.432 5.422c1.702-1.07 3.008-2.767 3.62-4.788a16.014 16.014 0 0 1-5.233 2.1C32.32 1.05 30.177 0 27.806 0c-4.55 0-8.237 3.876-8.237 8.656 0 .68.068 1.34.21 1.972-6.846-.362-12.917-3.804-16.983-9.045A8.973 8.973 0 0 0 1.68 5.937c0 3.002 1.454 5.652 3.666 7.207a7.968 7.968 0 0 1-3.735-1.082v.107c0 4.195 2.839 7.695 6.613 8.488a7.698 7.698 0 0 1-2.174.304c-.53 0-1.049-.052-1.548-.153 1.046 3.437 4.09 5.944 7.697 6.01-2.822 2.324-6.375 3.706-10.234 3.706A15.62 15.62 0 0 1 0 30.405c3.647 2.455 7.977 3.889 12.63 3.889 15.159 0 23.443-13.192 23.443-24.632 0-.376-.005-.75-.021-1.12a17.183 17.183 0 0 0 4.111-4.483 15.838 15.838 0 0 1-4.731 1.363z"/>
        </svg>
      </a>
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="44" viewBox="0 0 21 44">
          <path fill="#FFF" fill-rule="evenodd" d="M13.674 43.875H4.556v-21.94H0v-7.56h4.556V9.836C4.556 3.67 7.127 0 14.436 0h6.085v7.563h-3.803c-2.845 0-3.033 1.056-3.033 3.028l-.013 3.784h6.89l-.806 7.56h-6.084v21.94h.002z"/>
        </svg>
      </a> 
    </div>
    <div class="navbar-end navbar-social">
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43">
          <path fill="#FFF" fill-rule="evenodd" d="M21.25 3.829c5.674 0 6.346.022 8.587.124 2.072.094 3.197.44 3.946.731.991.386 1.7.846 2.443 1.59.744.744 1.204 1.452 1.59 2.443.29.75.637 1.874.731 3.946.102 2.241.124 2.913.124 8.587 0 5.674-.022 6.346-.124 8.587-.094 2.072-.44 3.197-.731 3.946-.386.992-.846 1.7-1.59 2.443-.744.744-1.452 1.204-2.443 1.59-.75.29-1.874.637-3.946.731-2.24.103-2.913.124-8.587.124-5.674 0-6.346-.021-8.587-.124-2.072-.094-3.197-.44-3.946-.731-.992-.386-1.7-.846-2.443-1.59-.744-.743-1.204-1.451-1.59-2.443-.29-.75-.637-1.874-.731-3.946-.103-2.24-.124-2.913-.124-8.587 0-5.674.021-6.346.124-8.587.094-2.072.44-3.197.731-3.946.386-.991.846-1.7 1.59-2.443.743-.744 1.451-1.204 2.443-1.59.75-.29 1.874-.637 3.946-.731 2.24-.102 2.913-.124 8.587-.124m0-3.829c5.771 0 6.495.024 8.761.128 2.262.103 3.807.462 5.159.988a10.416 10.416 0 0 1 3.763 2.45 10.416 10.416 0 0 1 2.451 3.764c.526 1.352.885 2.897.988 5.159.104 2.266.128 2.99.128 8.761 0 5.771-.024 6.495-.128 8.761-.103 2.262-.462 3.807-.988 5.159a10.416 10.416 0 0 1-2.45 3.763 10.416 10.416 0 0 1-3.764 2.451c-1.352.526-2.897.885-5.159.988-2.266.104-2.99.128-8.761.128-5.771 0-6.495-.024-8.761-.128-2.262-.103-3.807-.462-5.159-.988a10.416 10.416 0 0 1-3.763-2.45 10.417 10.417 0 0 1-2.451-3.764C.59 33.818.23 32.273.128 30.01.024 27.745 0 27.021 0 21.25c0-5.771.024-6.495.128-8.761.103-2.262.462-3.807.988-5.159a10.416 10.416 0 0 1 2.45-3.763A10.416 10.416 0 0 1 7.33 1.116C8.682.59 10.227.23 12.49.128 14.755.024 15.479 0 21.25 0zm.042 10.372c-6.03 0-10.92 4.89-10.92 10.92 0 6.031 4.89 10.92 10.92 10.92 6.031 0 10.92-4.889 10.92-10.92 0-6.03-4.889-10.92-10.92-10.92zm0 18.009a7.089 7.089 0 1 1 0-14.177 7.089 7.089 0 0 1 0 14.177zM35.08 9.866a2.53 2.53 0 1 0-5.059 0 2.53 2.53 0 0 0 5.06 0z"/>
        </svg>
      </a> 
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="47" viewBox="0 0 33 47">
          <path fill="#FFF" fill-rule="evenodd" d="M25.311 19.59c1.446-3.864 2.575-7.054 3.385-9.57.81-2.515 1.214-4.06 1.214-4.633 0-.615-.135-1.093-.405-1.433-.27-.339-.643-.509-1.117-.509-.605 0-1.22.494-1.846 1.48-.627.988-1.317 2.575-2.073 4.761L21.23 18.89l4.081.7zm-4.308 8.565a20.235 20.235 0 0 1-2.639-.286 14.188 14.188 0 0 1-2.38-.637c.345.68.652 1.359.922 2.038.27.68.491 1.348.665 2.006a15.931 15.931 0 0 1 1.635-1.735c.572-.52 1.17-.982 1.797-1.386zm-3.66-9.648l-3.497-9.935c-.907-2.527-1.609-4.177-2.105-4.952-.497-.775-1.037-1.162-1.62-1.162-.453 0-.82.17-1.1.51-.282.339-.422.795-.422 1.369 0 .976.378 2.674 1.134 5.094.755 2.42 1.889 5.594 3.4 9.522.13-.234.313-.398.551-.494.237-.095.561-.143.972-.143.13 0 .388.01.777.032.388.02 1.025.074 1.91.159zm-3.173 15.38c.367 0 .701-.164 1.004-.493.302-.33.453-.685.453-1.067 0-.403-.297-1.342-.89-2.818a28.073 28.073 0 0 0-2.219-4.347c-.648-1.061-1.285-1.863-1.91-2.404-.627-.541-1.22-.812-1.782-.812-.454 0-.956.282-1.506.844s-.826 1.088-.826 1.576c0 .51.27 1.274.81 2.293.539 1.019 1.263 2.102 2.17 3.248.95 1.253 1.846 2.229 2.688 2.93.842.7 1.51 1.05 2.008 1.05zm-9.716-.764c.302.361.723.892 1.263 1.592 1.425 1.932 2.741 2.898 3.951 2.898.41 0 .777-.127 1.101-.382.324-.255.486-.52.486-.796 0-.319-.216-.849-.648-1.593-.432-.743-1.025-1.58-1.781-2.515-.864-1.083-1.582-1.874-2.154-2.372-.572-.499-1.031-.749-1.376-.749-.757 0-1.453.398-2.09 1.194-.636.796-.955 1.736-.955 2.818 0 .871.222 1.842.664 2.914.442 1.072 1.085 2.15 1.927 3.232a12.81 12.81 0 0 0 4.745 3.869c1.89.903 3.978 1.353 6.267 1.353 4.21 0 7.735-1.544 10.574-4.633 2.84-3.088 4.26-6.957 4.26-11.607 0-1.421-.109-2.552-.325-3.39-.215-.84-.572-1.45-1.068-1.832-.886-.721-2.607-1.37-5.166-1.942-2.559-.573-5.23-.86-8.016-.86-.777 0-1.328.127-1.652.382-.324.255-.486.69-.486 1.306 0 1.444.82 2.489 2.462 3.136 1.64.648 4.296.971 7.967.971h1.328c.302 0 .545.112.729.335.183.223.307.557.372 1.003-.367.34-1.122.727-2.267 1.162-1.145.435-2.02.865-2.623 1.29-1.296.934-2.338 2.043-3.126 3.327-.788 1.285-1.182 2.5-1.182 3.647 0 .7.167 1.544.502 2.53.335.988.502 1.598.502 1.832v.223l-.065.286c-.95-.063-1.7-.61-2.25-1.64-.551-1.029-.826-2.403-.826-4.123v-.287c-.174.149-.34.255-.502.319-.162.063-.34.095-.535.095-.194 0-.378-.016-.55-.048a5.73 5.73 0 0 1-.583-.143c.065.234.113.462.145.685.033.223.049.398.049.525 0 .786-.313 1.46-.94 2.022-.626.563-1.37.844-2.234.844-1.36 0-2.742-.653-4.146-1.958-1.403-1.306-2.105-2.584-2.105-3.837 0-.234.027-.44.081-.621a1.06 1.06 0 0 1 .276-.462zM27.643 20.13c1.943.361 3.314 1.167 4.113 2.42.799 1.253 1.199 3.227 1.199 5.923 0 5.35-1.636 9.728-4.907 13.135s-7.455 5.11-12.55 5.11c-2.008 0-3.957-.355-5.846-1.066-1.89-.711-3.514-1.704-4.875-2.977-1.554-1.401-2.72-2.882-3.497-4.442C.502 36.674.114 35.076.114 33.44c0-1.825.4-3.237 1.198-4.235.798-.998 2.061-1.676 3.79-2.038a16.85 16.85 0 0 1-.713-1.879c-.151-.51-.227-.902-.227-1.178 0-.955.513-1.931 1.538-2.93 1.026-.997 1.992-1.496 2.9-1.496.388 0 .798.069 1.23.207.432.139.928.366 1.49.685-1.663-4.628-2.872-8.2-3.628-10.716-.756-2.515-1.133-4.25-1.133-5.206 0-1.316.345-2.361 1.036-3.137C8.286.743 9.225.356 10.413.356c2.029 0 4.599 4.458 7.708 13.374.54 1.529.95 2.707 1.23 3.535.238-.658.572-1.592 1.005-2.802 3.109-8.831 5.786-13.247 8.032-13.247 1.101 0 1.98.366 2.64 1.098.658.733.987 1.715.987 2.946 0 .934-.361 2.643-1.085 5.127-.723 2.484-1.819 5.731-3.287 9.744z"/>
        </svg>
      </a>
    </div>
  </div>
</nav>