@import "_util/proxima-nova";
@import "../../../../node_modules/bulma/bulma.sass";

html,
body,
#container {
  height: 100%
}

.section .container .columns {
  margin: 0;
}

.navbar {
  &.container {
    .columns {
      margin-left: 0;
      margin-right: 0;

      @media screen and (min-width: 1024) {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
      }
    }

    @media screen and (min-width: 1408px) {
      max-width: 1240px;
    }
  }

  .navbar-menu {
    background-color: #262626;



    &.is-active {
      margin-top: -1px;
      padding-bottom: 100px;
      transform: translate(0px, 0px);
      opacity: 1;
      display: block;
      transition: all .5s;
      height: 100vh;
    }

    @media screen and (min-width: 1024px) {
      background-color: white;
    }
  }

  .navbar-brand {

    .navbar-item {
      padding-left: 0;
      -webkit-tap-highlight-color: transparent;
    }

    .navbar-burger {
      height: 80px;
      outline: none;
      box-shadow: none;
      text-decoration: none;
      background: none;
      border: none;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &:visited,
      &:active,
      &:focus, {
        background-color: transparent;
        outline: none;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        background: none;
        border: none;
      }
    }

    .navbar-burger span {
      height: 3px;
      width: 30px;
      left: calc(50% - 25px);

      &:first-child {
        top: calc(50% - 14px);
      }

      &:nth-child(2) {
        top: calc(50% - 5px);
      }

      &:last-child {
        top: calc(50% + 4px);
      }
    }

    .navbar-close {
      display: none;
      padding: 30px 10px;
    }

    .navbar-burger svg {
      margin: 25px 8px;
    }

    &.is-active {
      background-color: #262626;

      .navbar-burger svg {
        display: block;
        margin: 25px 4px;
      }

      .navbar-burger span {
        background-color: #FFF;
        display: none;

        &:first-child {
          transform: rotate(45deg);
          top: calc(50% - -4px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navbar-social {
    text-align: center;
    width: 100%;
    padding: 25px;

    @media screen and (min-width: 1024px) {
      display: none;
    }

    img {
      width: 40px;
      height: 40px;
      margin: 0 0 40px 40px;
    }
  }

  .navbar-social {
    svg {
      width: 100px;
    }

    a {
      svg path {
        transition: fill 0.3s;
      }

      &:hover {
        svg path {
          fill: #f78e61;
        }
      }
    }
  }

  .navbar-item {
    font-family: 'Proxima Nova Rg';
    font-size: 45px;
    font-weight: bold;
    line-height: 1.89;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fff;
    padding: 10px 30px;

    &:hover {
      color: #f78e61;
      background: #262626;
    }

    @media screen and (min-width: 1024px) {
      padding: 10px 30px;
      text-align: right;
      color: #333333;
      font-size: 19px;
      padding: 0.5rem 0.75rem;
      margin-left: 20px;

      &:hover {
        background: #fff;
      }
    }

    img {
      max-height: 70px;
      height: 70px;

      @media screen and (min-width: 1024px) {
        width: 150px;
        margin-top: 3px;
      }
    }

    &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }

      &.is-active {
        .navbar-dropdown {
          display: block;
        }
      }
    }
  }

  .navbar-brand {
    .navbar-item {
      @media screen and (min-width: 1024px) {
        margin-left: 0;
      }
    }
  }
}

.footer {
  background-color: white;
  padding: 0;

  .footer-logo {
    width: 150px;

    @media (max-width: 768px) {
      width: auto;
      height: 70px;
    }
  }

  .social-icons {
    text-align: right;
    margin-top: 90px;

    @media screen and (min-width: $tablet) {
      margin: 0;
    }

    .icons {
      width: 100%;
      text-align: center;

      svg {
        width: 40px;
        height: 40px;
        margin: 0 20px 40px 20px;


      }

      a {
        svg path {
          transition: fill 0.3s;
        }

        &:hover {
          svg path {
            fill: #f78e61;
          }
        }
      }
    }

    @media screen and (min-width: $tablet) {
      .icons {
        img {
          width: 40px;
          height: 40px;
          margin: 0 0 40px 40px;
        }
      }
    }
  }

  ul {
    @media (max-width: 768px) {
      margin-bottom: 5px;
    }

    li {
      font-family: 'Proxima Nova Rg';
      font-size: 19px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.68;
      letter-spacing: 0.5px;
      padding-left: 30px;

      @media screen and (min-width: $tablet) {
        padding: 0;
      }

      a {
        color: #1b2437;

        &:hover {
          color: #f68351;
        }
      }

      &:first-child {
        a {
          color: #f68351;
        }
      }
    }
  }

  .footer-note {
    text-align: center;
    font-family: 'Proxima Nova Rg';
    font-size: 15px;
    font-weight: normal;
    line-height: 2.13;
    letter-spacing: 0.5px;
    text-align: center;
    color: #9da5b0;
  }
}

.section {
  padding: 100px 0;

  .container {
    .columns {
      margin-left: 0;
      margin-right: 0;

      @media screen and (min-width: 1024) {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
      }
    }

    @media screen and (min-width: 1408px) {
      max-width: 1240px;
    }
  }

  &.footer {
    padding-bottom: 0;
  }
}

.banner {
  padding-bottom: 0;
  position: relative;

  @media (max-width: 768px) {
    padding-top: 50px;
  }

  .img-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 150%;

      @media (max-width: 1018px) {
        width: 150%;
        margin-left: -25%;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 140px 0;
  }

  h1 {
    font-family: 'ProximaNovaBl';
    font-size: 56px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    color: #4a4a4a;
    letter-spacing: 0.27px;
    max-width: 800px;
    font-size: 36px;
    margin: 0 60px 60px;

    @media screen and (min-width: $tablet) {
      margin: 0 auto 140px;
      font-size: 56px;
      font-weight: bold;
    }

    @media (max-width: 768px) {
      margin: 0 20px 60px;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0;
    background-color: #fff8f5;
    left: 0;
    z-index: -1;

    &:after {
      content: '';
      height: 800px;
      width: 100%;
      background-color: red;
      position: absolute;
      top: 0;
      transform: skewY(-16deg);
      background-color: #fff8f5;
      transform-origin: bottom left;

      @media (min-width: 2800px) {
        height: 900px;
        transform-origin: bottom left;
      }

      @media (min-width: 3000px) {
        height: 900px;
        transform: skewY(-12deg);
      }

      @media (max-width: 768px) {
        display: none;
      }

      @media (max-width: 768px) {

      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.greetings {
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    background-color: #fff8f5;
    left: 0;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .container {
    max-width: 882px;
  }

  h3 {
    font-family: 'ProximaNovaBl';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.45;
    letter-spacing: 1.5px;
    text-align: center;
    color: #888888;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  h2 {
    font-family: 'ProximaNovaSemiBl';
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.87px;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 60px;

    span {
      color: #f78e61;
    }

    @media screen and (min-width: $tablet) {
      font-size: 38px;
      margin-bottom: 80px;
    }
  }

  .columns {
    .page-preview {
      max-width: 365px;
      border-radius: 12px;
      border: solid 0.8px #e8e8e8;
      background-color: #ffffff;
      padding-bottom: 15px;
      overflow: hidden;
      box-shadow: -1px 1px 7px 0 rgba(193, 185, 185, 0.5);
      transform: translate(0, 0);
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: translate(0px, -20px);
        transition: all .3s;
      }

      &.unfurls {
        margin: 0 0 0 auto;

        @media screen and (max-width: $tablet) {
          margin: 30px auto 0;
        }
      }

      @media screen and (max-width: $tablet) {
        margin: 0px auto 30px;
      }

      .content {
        padding: 15px 25px;

        h5 {
          font-family: 'ProximaNovaSemiBl';
          font-size: 30px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.85;
          letter-spacing: normal;
          color: #434247;
          margin-bottom: 10px;
        }

        p {
          font-family: 'ProximaNovaRg';
          font-size: 19px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.3;
          letter-spacing: normal;
          color: #1b2437;
          margin-bottom: 4px;
        }

        span {
          font-family: 'ProximaNovaRg';
          font-size: 15px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: normal;
          text-align: center;
          color: #fa607e;
          border-radius: 7px;
          border: solid 1.5px #d5d3e0;
          background-color: #fcfcfc;
          padding: 10px;
          margin-left: 10px;
          float: right;
        }
      }
    }
  }
}

.newsletter {
  padding: 0;

  @media screen and (min-width: $tablet) {
    padding: 100px 0;
  }

  .wrapper {
    padding: 70px 15px;
    border-radius: 0px;
    background-color: #f0f2f3;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
      padding: 60px 100px 100px;
      border-radius: 13px;
    }

    @media screen and (min-width: 1408px) {
      max-width: 1120px;
      border-radius: 13px;
      background-color: #f0f2f3;
    }

    h2 {
      font-family: 'ProximaNovaSemiBl';
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      text-align: center;
      color: #4a4a4a;
      margin: 0 10px 40px;
      letter-spacing: 0.6px;

      @media screen and (min-width: $tablet) {
        font-size: 38px;
        letter-spacing: 0.87px;
        margin: 40px;
      }
    }

    .input-group {
      text-align: center;

      input[type='email'], input[type='text'] {
        font-family: 'ProximaNovaRg';
        font-size: 21px;
        font-weight: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #f78e61;
        height: 55px;
        border-radius: 100px;
        background-color: #ffffff;
        border: none;
        outline: none;
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 15px;

        &::placeholder {
          color: lighten(#f78e61, 20%);
        }

        &:invalid {
          // border: 1px red solid;
        }

        @media screen and (min-width: $tablet) {
          width: 310px;
          margin-bottom: 0;
        }
      }

      button, input[type='submit'] {
        font-family: 'ProximaNovaBl';
        font-size: 25px;
        font-weight: bold;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border-radius: 100px;
        border: solid 1px #f78e61;
        background-color: #f78e61;
        width: 100%;
        height: 55px;
        margin-left: 0px;
        cursor: pointer;
        -webkit-appearance: none;

        @media screen and (min-width: $tablet) {
          width: 125px;
          margin-left: 10px;
        }
      }
    }

    .response {
      span {
        margin: 40px;
        font-family: 'ProximaNovaSemiBl';
        font-size: 24px;
        color: #f78e61;

        @media (max-width: 768px) {
          font-size: 19px;
        }
      }
    }

    .response-error {
      margin: 20px 10px;
      .response-error-text {
        color: #FF5A5F;
        font-family: 'ProximaNovaSemiBl'
      }
    }
  }
}

.compass {
  background-color: #fff8f5;
  padding: 100px 0;

  @media screen and (min-width: $tablet) {
    padding: 150px 0;
  }

  .container {
    max-width: 960px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 100px;
    }
  }

  .heading {
    h3 {
      font-family: 'ProximaNovaBl';
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.45;
      letter-spacing: 1.5px;
      text-align: center;
      color: #888888;
      margin-bottom: 20px;
    }

    h2 {
      font-family: 'ProximaNovaSemiBl';
      font-size: 26px;
      font-weight: 600;
      line-height: 1.29;
      letter-spacing: 0.87px;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 65px;
      text-transform: none;

      span {
        color: #f78e61;
      }

      @media screen and (min-width: $tablet) {
        font-size: 38px;
        margin-bottom: 30px;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    .values .column.is-half-mobile {
      flex: none;
      width: 50%;
    }
  }

  .content {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 50px 0;
    border: 2px solid #fff;
    width: auto;
    height: 150px;
    margin: auto;

    @media screen and (min-width: 1024px) {
      width: 200px;
      height: 140px;
      padding: 45px 0;
    }

    &:hover {
      border: 2px solid #f78e61;
    }

    h5 {
      font-family: 'ProximaNovaSemiBl';
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.02;
      letter-spacing: normal;
      text-align: center;
      color: #434247;
      margin: 10px;
    }
  }
}

.journal {

  @media (max-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: $tablet) {
    padding: 40px 0;
  }

  .container {
    @media screen and (min-width: $widescreen) {
      max-width: 1020px;
    }

    .heading {
      h1 {
        font-family: 'ProximaNovaBl';
        font-size: 56px;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: 0.27px;
        text-align: center;
        color: #4a4a4a;
        text-transform: none;

        @media (max-width: 768px) {
          font-size: 46px;
        }
      }

      hr {
        width: 150px;
        border: 2px solid #4a4a4a;
        margin: 0 auto 40px;

        @media screen and (min-width: $tablet) {
          margin-bottom: 100px;
        }
      }

      h3 {
        font-family: 'ProximaNovaBl';
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.45;
        letter-spacing: 1.5px;
        text-align: center;
        color: #888888;
        margin-bottom: 20px;
      }

      h2 {
        font-family: 'ProximaNovaSemiBl';
        font-size: 26px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.87px;
        text-align: center;
        color: #4a4a4a;
        margin-bottom: 40px;
        text-transform: none;

        span {
          color: #f78e61;
        }

        @media screen and (min-width: $tablet) {
          font-size: 38px;
          margin-bottom: 80px;
        }
      }
    }

    #all_posts {
      display: none;
    }

    .content {
      max-width: 800px;
      margin: 0 auto;

      ul {
        list-style: none;
        width: 100%;
        margin: 0;

        li {
          .journal-preview {
            padding: 30px 20px;

            @media screen and (min-width: $tablet) {
              padding: 40px;
            }

            h4 {
              font-family: 'ProximaNovaBl';
              font-size: 20px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.29;
              letter-spacing: 0.27px;
              color: #4a4a4a;
              margin-bottom: 10px;

              @media screen and (min-width: $tablet) {
                font-size: 31px;
                font-weight: normal;
              }
            }

            span {
              font-family: 'ProximaNovaRg';
              font-size: 22px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.29;
              letter-spacing: 0.27px;
              color: #8295b9;

              @media (max-width: 768px) {
                font-size: 17px;
              }
            }
          }

          a {
            &:hover {
              .journal-preview {
                background-color: #f6fdff;
              }
            }
            // removes tap highlight of links
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
          }
        }
      }
    }
  }

  .more {
    font-family: 'ProximaNovaBl';
    font-size: 22px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #f98e5b;
    height: 55px;
    border-radius: 100px;
    border: solid 2px #f78e61;
    padding: 11px 10px;
    margin: 80px auto 0;
    width: 320px;
    display: block;

    @media screen and (min-width: $tablet) {
      font-size: 25px;
      padding: 8px 10px;
    }

    &:hover {
      background-color: #f78e61;
      color: #fff;
    }

    @media (max-width: 768px) {
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }
}

.slider {
  padding: 20px 0;

  @media screen and (min-width: $tablet) {
    padding: 20px 0 100px 0;
  }

  .swiper-container {
    width: 100%;
    height: auto;

    @media screen and (min-width: 769px) {
      width: auto;
      height: 533px;
    }

    @media screen and (min-width: 800px) {
      width: 800px;
      height: 533px;
    }
  }

  .swiper-slide {
    background-color: white;
  }

  .swiper-pagination {
    margin: 25px auto;
    width: 100%;

    @media (max-width: 768px) {
      margin: 25px auto 0;
    }

    @media (max-width: 420px) {
      margin: 25px auto 0;
    }

    span {
      margin: 0 7px;
      height: 15px;
      width: 15px;
      background-color: #b5babb;
      outline: none;

      @media (min-width: 769px) {
        width: 24px;
        height: 24px;
      }
    }

    .swiper-pagination-bullet-active {
      height: 15.5px;
      width: 15.5px;
      background-color: #f78e61;
      outline: none;

      @media (min-width: 769px) {
        margin: 0 10px;
        height: 24px;
        width: 24px;

      }

      &:after {
        content: '';
        border: solid 2px #f78e61;
        position: absolute;
        width: 25.4px;
        height: 25.4px;
        margin-left: -12.6px;
        border-radius: 50%;
        margin-top: -4.8px;

        @media (min-width: 769px) {
          width: 31.5px;
          height: 31.5px;
          margin-left: -16px;
          margin-top: -5.3px;

          width: 38px;
          height: 38px;
          margin-left: -19px;
          margin-top: -7px;
          border: solid 3px #f78e61;

        }
      }
    }

    @media screen and (min-width: $tablet) {
      margin: 40px auto;
    }
  }
}

.about {
  padding: 50px 0 0;

  @media (max-width: 768px) {
    padding: 100px 0 50px;
  }

  @media (max-width: 420px) {
    padding: 80px 0 100px;
  }

  .container {
    max-width: 980px;
    @media (max-width: 1015px) {
      .column {
        padding: 1.5rem;
      }
    }
  }

  h1 {
    font-family: 'ProximaNovaBl';
    font-size: 20px;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: 0.28px;
    color: #4a4a4a;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      font-size: 38px;
    }
  }

  a {
    color: #4a4a4a;
    cursor: pointer;
    text-decoration: underline;
    }

  a strong {
    color: currentColor;
    }

  a:hover {
    color: #f78e61;
    }

  p {
    font-family: 'ProximaNovaRg';
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0.26px;
    margin-bottom: 20px;
    color: #4a4a4a;
    line-height: 1.53;

    @media screen and (min-width: $tablet) {
      font-size: 25px;
      margin-bottom: 35px;
      line-height: 35px;
    }
  }
}

.mission {
  padding: 80px 0 200px;
  background-color: #fff8f5;

  @media screen and (min-width: $tablet) {
    margin-top: 170px;
    padding: 80px 0;
  }

  @media (max-width: 768px) {
    padding-top: 0;
  }

  .container {
    max-width: 1110px;

    @media screen and (min-width: $tablet) {
      .columns {
        .column {
          &:last-child {
            padding-left: 30px;
          }
        }
      }
    }

    @media (max-width: 1095px) and (min-width: $tablet) {
      .columns {
        .column {
          &:last-child {
            padding-left: 15px;
          }
        }
      }
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1092px) {
      margin-bottom: 100px;
    }
  }

  @media (max-width: 768px) {
    .column {
      padding: 1.1rem;
    }
  }

  h2 {
    font-family: 'ProximaNovaBl';
    font-size: 24px;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: 0.28px;
    color: #4a4a4a;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      font-size: 38px;
    }
  }

  p {
    font-family: 'ProximaNovaRg';
    font-size: 17px;
    font-weight: normal;
    letter-spacing: normal;
    color: #1b2437;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      font-size: 25px;
    }
  }

  span {
    font-family: 'ProximaNovaSemiBl';
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #fa607e;
    border-radius: 7px;
    border: solid 1.5px #d5d3e0;
    background-color: #fcfcfc;
    padding: 4px 10px;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
    width: 100px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
      width: 110px;
    }

    &.first {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      padding: 4px 0;
      width: 102px;
      margin-left: 0;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  img {
    margin-top: -20px;
    border-radius: 10px;

    &.desktop {
      display: none;
      max-width: 360px;
      margin-left: 25px;

      @media (max-width: 1095px) {
        margin-left: 0;
        max-width: 100%;
      }
    }

    &.mobile {
      display: block;
      margin-top: -66px;
      margin-bottom: 20px;
    }


    @media screen and (min-width: $tablet) {
      margin-top: -120px;

      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }

    @media (min-width: 1092px) {
      margin-top: -180px;
    }
  }
}

.values {
  padding: 80px 15px;

  @media screen and (min-width: $tablet) {
    padding: 140px 0;
  }

  .container {
    max-width: 860px;
  }

  .heading {
    h3 {
      font-family: 'ProximaNovaBl';
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.45;
      letter-spacing: 1.5px;
      text-align: center;
      color: #888888;
      margin-bottom: 20px;
    }

    h2 {
      font-family: 'Proxima Nova Rg';
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 0.87px;
      text-align: center;
      color: #4a4a4a;
      text-transform: initial;
      margin-bottom: 60px;

      span {
        color: #f78e61;
      }

      @media screen and (min-width: $tablet) {
        font-size: 38px;
        margin-bottom: 50px;
      }
    }
  }

  .content {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #fff;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: #f2f2f2;
    position: relative;

    @media screen and (min-width: $tablet) {
      width: 200px;
      height: 200px;
      padding-top: 75px;
    }

    h5 {
      font-family: 'ProximaNovaSemiBl';
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.02;
      letter-spacing: normal;
      text-align: center;
      color: #434247;
      margin: 10px;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;

      @media screen and (min-width: $tablet) {
        font-size: 25px;
      }

    }
  }

  .column.is-half-mobile {
    @media (max-width: 1023px) {
      flex: none;
      width: 50%;
    }
  }

  @media screen and (max-width: 1023px) {
    .column {
      padding: 0.50rem;
    }

    .column.is-half-mobile {
      &:nth-child(odd) {
        .content {
          margin-right: 0;
          width: 100%;
        }
      }

      &:nth-child(even) {
        .content {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

$img-height: 400px;
$img-height-double: 860px;
$img-padding: 5px;

$tablet-img-height: 300px;
$tablet-img-height-double: 640px;
$tablet-img-padding: 5px;

.gallery {
  .container {
    max-width: none;
  }

  .columns {
    padding: 5px;
  }

  .column {
    padding: $img-padding;

    @media (max-width: 1215px) {
      padding: $tablet-img-padding;
    }

    .img-wrapper {
      background-color: #f0f2f3;
      overflow: hidden;
      height: 100%;

      &.nested {
        height: auto;
        padding: 5px 0px;

        &:first-child {
          padding-top: 0px;
        }

        &:last-child {
          padding-bottom: 0px;
        }

        img {
          height: auto;
        }
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &.parent, .parent {
      padding: 0;
      margin:0;

    }

    &.sub-column {
      .img-wrapper {
        height: 437px;

        @media (max-width: 1215px) {
          height: $tablet-img-height
        }

        @media (max-width: 768px) {
          height: auto;
        }
      }
    }

    &.double {

      @media (max-width: 1215px) {
        height: $tablet-img-height-double;
      }

      @media (max-width: 768px) {
        height: auto;
      }

      .img-wrapper {
        height: 100%;

        @media (max-width: 768px) {
          height: auto;
        }
      }

      @media (min-width: 1480px) {
        .img-wrapper {
          height: 890px;
        }
      }
    }
  }
}

.article {
  max-width: 100%;
  margin: 0 auto;

  .container {
    max-width: 800px;


    .column {

      img {
        width: 100%;
      }
    }

  }

  &.section {
    padding: 80px 1.5rem 100px;

    @media screen and (min-width: $tablet) {
      padding: 80px 0rem 100px;
    }

    @media (min-width: 769px) and (max-width: 850px) {
      padding: 80px 1.5rem 100px;
    }

    @media (max-width: 850px) {
      padding-top: 15px;
    }
  }

  .text-container {
    padding: 3rem 1.5rem;
  }

  .article-inner {
    .article-header {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      padding: 0 30px;

      @media (max-width: 768px) {
        padding: 0;
      }

      h1 {
        font-family: 'ProximaNovaBl';
        font-size: 29px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.81px;
        color: #4a4a4a;
        margin-bottom: 20px;

        @media screen and (min-width: $tablet) {
          font-size: 60px;
        }
      }
    }

    .article-meta {
      margin: 0 auto 50px;
      max-width: 800px;
      padding: 0 30px;

       @media (max-width: 768px) {
        padding: 0;
      }

      time {
        font-family: 'ProximaNovaRg';
        font-size: 17px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: 0.21px;
        color: #8295b9;

        @media screen and (min-width: $tablet) {
          font-size: 22px;
        }
      }
    }

    .article-entry {

      p {
        font-family: 'ProximaNovaRg';
        font-size: 17px;
        font-weight: normal;
        letter-spacing: 0.26px;
        line-height: 1.53;
        letter-spacing: normal;
        color: #4a4a4a;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;

        a {
          color: #000;

          &.break-word {
            word-break: break-all;
          }
        }

        @media screen and (min-width: $tablet) {
          font-size: 21px;
          line-height: 1.4;
        }
      }

      img {
        margin-top: 56px;
      }

      h2, h3 {
        font-family: 'ProximaNovaBl';
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.03;
        letter-spacing: 0.26px;
        color: #4a4a4a;
        margin: 25px 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;

        @media screen and (min-width: $tablet) {
          font-size: 34px;
        }
      }

      h3 {
        font-size: 24px;
        margin-top: 1.23em;
        margin-bottom: -25px;
        line-height: 1.18;
      }

      strong {
        font-size: 21px;
        text-transform: none;
        margin-bottom: -20px;
        letter-spacing: -0.004em;
        line-height: 1.58;
      }

      ul {
        list-style: disc;
        margin-bottom: 25px;
        margin-left: 25px;

        @media (max-width:768px) {
          margin-left: 0;
        }

        li {
          font-size: 17px;
          font-family: 'ProximaNovaRg';
          margin-left: 25px;

          p {
            margin-top: 18px;
          }

          @media screen and (min-width: $tablet) {
            font-size: 21px;
          }
        }
      }


      ol {
        list-style: decimal;
        margin-left: 25px;
        margin-bottom: 25px;

        @media (max-width:768px) {
          margin-left: 0;
        }

        li {
          font-size: 17px;
          font-family: 'ProximaNovaRg';
          margin-left: 25px;
          margin-top: 12px;

          p {
            margin-top: 22px;
          }

          @media screen and (min-width: $tablet) {
            font-size: 21px;
          }
        }
      }

      blockquote {
        font-family: "Playfair Display", serif;
        font-size: 21px;
        font-style: italic;
        letter-spacing: -0.36px;
        line-height: 1.56;
        overflow-wrap: break-word;
        margin: 55px 0 33px 0;
        /* text-align: center; */
        color: rgba(0, 0, 0, 0.68);
        padding: 0 0 0 50px;
        box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.84);
        padding-left: 23px;
        margin: 25px auto;
        margin-left: -20px;
      }

      code {
        font-size: 18px;
        background: rgba(0, 0, 0, .05);
        border-radius: 2px;
        padding: 3px 5px;
      }

      .highlighted {
        background: #7DFFB3;
      }

      a {
        text-decoration: underline;
      }

      hr {
        display: block;
        text-align: center;
        height: auto;
        background-color: transparent;
        &:before {
          content: "...";
          letter-spacing: 0.6em;
          text-indent: 0.6em;
          line-height: 1.4;
          font-size: 26px;
        }
      }
    }

    img {
      max-width: 800px;
      margin: 56px auto 0;
      display: block;

      @media (max-width: 1050px) {
        max-width: 100%;
      }

      &.full-width {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        max-width: calc(100% - 3rem);

        @media (min-width: 2000px) {
          margin: 56px auto 0;
        }

        &.no-margin {
          max-width: 100%;
          margin-left: 0;
          margin-right: 0;

          @media (max-width:768px) {
            max-width: calc(100% + 3rem);
            position: absolute;
            left: 0;
            position: relative;
            margin-left: -1.5rem;
          }
        }

        @media (max-width:768px) {
          max-width: calc(100% + 3rem);
          position: absolute;
          left: 0;
          position: relative;
          margin-left: -1.5rem;
        }
      }

      @media (max-width:768px) {
        max-width: calc(100% + 3rem);
        position: absolute;
        left: 0;
        position: relative;
        margin-left: -1.5rem;
      }
    }

    .no-multiline {
      .column {
        padding: 0;
      }

      img {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
      }
    }

    figcaption {
      margin: 10px auto 50px;
      max-width: 800px;
      line-height: 1.4;
      font-weight: 300;
      font-size: 14.5px;
      color: rgba(0, 0, 0, 0.54);
      font-family: 'ProximaNovaRg';
      text-align: center;
    }

    iframe {
      height: 500px;
    }

    .gallery {
      margin-top: 56px;

      @media (max-width:768px) {
        margin-left: -1.5rem;
        width: calc(100% + 3rem);
      }

      .column {
        height: auto;
        position: relative;
        overflow: hidden;
        margin: 0px;

        @media (max-width:768px) {
          padding:0;
        }

        .gallery-img-wrapper {
          position: relative;
          min-height: 533px;

          @media (max-width:1050px) {
            min-height: 400px;
          }

          @media (max-width:1050px) {
            min-height: 360px;
          }

          @media (max-width:768px) {
            height: 200px;
            min-height: 200px;
            margin: 5px;
            min-height: 480px;
          }

          @media (max-width:658px) {
            min-height: 408px;
          }

          @media (max-width:658px) {
            min-height: 220px;
          }
        }

        &:first-child {
          .gallery-img-wrapper {
            margin-left: 0;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 130%;
          height: auto;
          margin-top: 0;

          @media (max-width:768px) {
            margin: 0;
            max-width: 140%;
            width: 140%;
          }

          @media (max-width:658px) {
            width: 120%;
          }
        }
      }
    }

    .columns {

      .column {
        img {

        }
      }
      .full-width {
        img {
          margin: 0;
        }
      }
    }

     @media (max-width:768px) {
      .full-width-mobile {
        width: calc(100% + 3rem);
        margin-left: -1.5rem;

        .column {
          padding: 0;
          margin-top: 40px;

          img {
            margin:0;
          }
        }
      }

    }
  }
}

.comments {
  @media screen and (min-width: $tablet) {
    padding: 0;
  }

  .container {
    max-width: 680px;
  }
}

.share {
  background-color: #fff8f5;
  padding: 100px 0;

  .heading {
    h3 {
      font-family: 'ProximaNovaBl';
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.45;
      letter-spacing: 1.5px;
      text-align: center;
      color: #888888;
    }

    h2 {
      font-family: 'ProximaNovaSemiBl';
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 0.87px;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 80px;
      text-transform: none;

      span {
        color: #f78e61;
      }

      @media screen and (min-width: $tablet) {
        font-size: 38px;
      }
    }
  }

  .preview {
    border-radius: 3px;
    box-shadow: 11px 10px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      margin-right: 50px;
    }

    .content {
      padding: 15px;
      overflow: hidden;

      h4 {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #141823;
      }

      p {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #404244;
      }

      span {
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9197a3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 150px;
      }
    }
  }

  .previewbutton {
    height: 140px;
    background-color: #fff;
    text-align: center;
    padding-top: 60px;
    font-family: 'ProximaNovaSemiBl';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: normal;
    text-align: center;
    color: #434247;

    @media (max-width: 1023px) {

    }
  }
}

.color-transition {
  transition: color 0.3s, background-color 0.3s;
}

// for hiding content
.hide-content {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}


.builder-banner {

  @media (max-width: 1015px) {
    .columns {
      margin: 0;
    }

    .container .column {
      padding: 1.5rem;
    }
  }

  .banner-container {
    max-width: 800px;
    margin: 15px auto 0;
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {

      img {
        display: block;
      }
    }

    .desktop {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .mobile {
      display: none;
      margin: 0 auto;
      @media (max-width: 768px) {
        display: block;
      }
    }

    .triangle {
      background-color: #fff;
      height: 150px;
      width: 100%;
      z-index: 1;
      bottom: 0;
      position: absolute;
      transform: skewY(-10deg);
      transform-origin: right bottom;
      border-top: 4px solid #f68351;

      @media (max-width: 768px) {
        transform: skewY(-10deg);
        height: 160px;
        bottom: -100px;
      }
    }
  }

  .text-triangle {
    z-index: 3;
    width: 100%;
    text-align: right;
    max-width: 800px;
    margin: 0 auto;

    span {
      font-size: 70px;
      letter-spacing: 1.27px;
      text-align: right;
      color: #f68351;
      display: block;
      line-height: 1;
      font-family: 'MFinance';

      @media (max-width: 768px) {
        font-size: 38px;
      }
    }
  }
}

.builder-content {
  margin-top: 173px;

  .container {
    max-width: 960px;
  }

  @media (max-width: 1015px) {
    .columns {
      margin: 0;
    }

    .container .column {
      padding: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    margin-top: 0;

    .columns {
      margin: 0;
    }

    .container .column {
      padding: 1.5rem;
    }
  }

  h1 {
    font-family: 'ProximaNovaBl';
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: 0.28px;
    color: #4a4a4a;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 28px;
      margin-top: 70px;
    }
  }

  p {
    font-family: 'ProximaNovaRg';
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.26px;
    color: #4a4a4a;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 21px;
    }
  }
}