<%- partial('_partial/header') %>
<div id="content-container">
  <section class="slider">
    <div class="container">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% page.swiperImages.forEach(function(image){ %>
            <div class="swiper-slide">
              <div class="img-wrapper">
                <img alt="<%=image[1]%>" src=<%= image[0] %>>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1>About Kenny</h1>
          <br>
          <p>Hey! Thanks for stopping by. I’m Kenny Grant, I love rollerblading and bringing new digital products to life. Currently in Vancouver, but tend to split my time between Singapore and the Pacific North West.</p>

          <p>What am I up to? Working with a few good friends at headphones.com as fractional CPO and CMO. Hopefully, I can share some more details about what we're cooking up sometime soon. In addition, I'm consulting with early stage startups, D2C ecommerce brands, and building (_retracted sept 10, 2021_). My professional career covers digital innovation in emerging technologies, product management, team building, and marketing. <a href="https://calendly.com/allbombs">Need help</a>?</p>. 
          

          <p>I want to live in a world where we encourage creativity, respect human attention, and practice conscious capitalism. How can we leverage technology to improve the world? Are you working on something similar? I’d love to connect. Please <a href="mailto:kennywgrant@gmail.com">reach out</a>. Life is magical and mysterious... Friends, collabs, clients? You never know.</p><br>

          <p><b>Now:</b><br>
          <a href="http://headphones.com" target="_blank">Headphones.com</a> - building the future of content and luxury commerce.<br>
          <a href="https://calendly.com/allbombs">Consulting</a> - Venture Building, Startup Advisor, Fractional d2c CPO, Marketing, and team building. <br>
          <a href="#" target="_blank">Coming soon</a> - digital experiments that I hope to announce in September.

          <p><b>Founded + Side Projects:</b><br>
          <a href="http://shipmates.co" target="_blank">Shipmates</a>, <a href="http://pumpupthejam.co" target="_blank">Pump Up The Jam</a>, <a href="http://promo.co" target="_blank">Promo</a>, <a href="http://sticker.unfurls.co" target="_blank">Unfurls Stickers</a>, <a href="https://unfurls.co/shopify-social-score" target="_blank">Shopify Social Score</a>, , <a href="http://unfurls.co/lookout" target="_blank">Lookout</a>, <a href="http://slack.com/apps/A75LZMBKM-unfurls" target="_blank">Lookout Slack App</a>, + wack load of other apps that are no longer online. Check out <a href="https://www.producthunt.com/@allbombs/made">Product Hunt</a> or read my blog for more details.</p>

          <p><b>Clients and Collaborations:</b><br>
          ProperLot, Huddle Works, Autozen, Full Stack Ventures, Supernova.xyz, 50+ ecommerce companies, Finstripe, BBC America, NBC Universal, Hootsuite, Ziplocal, Ambronite, Open Road Auto Group, Homeless Charities, and many startups.</p>

          <br><br>


          <div class="img-wrapper">
            <img src="images/painting-bali-product-studi-dream-team.jpg" alt="building magic painting bali product studio dream team">
          </div>

          <br><br>

          <p>Outside of work, I try to fit in as much travelling, <a href="http://kenny.is/reading">books</a>, design, rollerblading, surfing, sunshine, people watching, and gourmet cheeseburgers into my life as I can.</p>
          <p>I’m happy you stopped by my little hole in the internet wall. I would love to <a href="mailto:kennywgrant@gmail.com">hear your story</a>, and your ideas about anything and everything.</p>
          <br>

          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="twitter-follow-button" href="https://twitter.com/allbombs" data-size="large" data-show-count="false">Follow @allbombs</a>

          <br><br><br>
        </div>
      </div>
    </div>
  </section>

  <section class="mission section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <img alt="kenny grant at a mountain" data-src="images/kenny-mission-statement-mobile-opt.png" class="mobile lazy">
          <img alt="kenny grant at a mountain" data-src="images/kenny-mission-statement-x-size-opt.png" class="desktop lazy">
        </div>
        <div class="column is-7">
          <h2>Mission Statement</h2>
          <p>Facilitate significant improvements in happiness, productivity, and mental health around the world. Humanize technology and digital experiences that enrich people’s lives. To explore, remain open, have fun in my journey, improve myself every day, but not take myself too seriously.</p>

        </div>
      </div>
    </div>
  </section>

  <section class="values section">
    <div class="container">
      <div class="columns heading">
        <div class="column">
          <h3>NORTH STAR</h3>
          <h2>My Core Values</h2>
        </div>
      </div>
      <div class="columns is-multiline is-mobile is-desktop">
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Growth</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Heart</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Creativity</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>People</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery section">
    <div class="container">
      <div class="columns is-multiline">
        

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage12 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage13 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage14 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage15 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage16 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage18 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage19 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage17 %>">
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/compass') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>