<%- partial('_partial/header') %>
<div id="content-container">
  <section class="slider">
    <div class="container">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% page.swiperImages.forEach(function(image){ %>
            <div class="swiper-slide">
              <div class="img-wrapper">
                <img alt="<%=image[1]%>" src=<%= image[0] %>>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1><%= page.title %></h1>
          <br>
          <p>Hey. Thanks for stopping by. I’m Kenny Grant, I love bringing ideas to life and building ways to turn those ideas into products. This love has taken me to places around the world and given me experiences that are best talked about in real life over coffee.</p>

          <p>I’m currently exploring the future of direct-to-consumer e-commerce by building <a href="http://shipmates.co/" target="_blank">Shipmates</a> with my business partner, <a href="http://www.roybao.com/" target="_blank">Roy Bao</a>. We help food-based brands sell more products online and streamline back office inefficiencies with <a href="http://github.com/freshcom" target="_blank">e-commerce middleware software</a>. But I’ve never been a ‘just one project’ kind of guy, so we’re also building meta-tags as a service through <a href="http://unfurls.co" target="_blank">Unfurls</a>. I also provide advisory and consulting support for small start-ups.</p>

          <p>If I had to sum it up neatly, I’d say that my professional career covers digital innovation in emerging technologies, product management, sourcing top talent, and marketing. Before starting a product studio called <a href="http://viralfoundry.com/" target="_blank">Viral Foundry</a>, I was an Entrepreneur-in-Residence at <a href="https://angel.co/fullstackventures" target="_blank">Full Stack Ventures</a>. I built applications for BBC America and NBC Universal. And I launched products for 60,000 SMBs across the United States. </p>

          <p>I believe digital products are more than just binary code or pixels on a screen. I want to connect and collaborate with other builders to fix worthwhile problems, create magic, bring products to life, and advance the human journey. I love my life and I feel incredibly grateful to have (objectively) the best job in the world: inventing new things for people around the world.</p>

          <br>
          <p><b>Building:</b><br>
          <a href="http://shipmates.co" target="_blank">Shipmates</a>, <a href="http://unfurls.co" target="_blank">Unfurls</a>, <a href="https://github.com/freshcom" target="_blank">Freshcom</a>, + experiments.</p>

          <p><b>Previously Built:</b><br>
          <a href="http://promo.co" target="_blank">Promo</a>, <a href="http://viralfoundry.com" target="_blank">Viral Foundry</a>, <a href="http://unfurls.co/lookout" target="_blank">Lookout</a>, <a href="http://slack.com/apps/A75LZMBKM-unfurls" target="_blank">Lookout Slack App</a>, + others that are no longer online</p>

          <p><b>Clients and Collaborations:</b><br>
          Full Stack Ventures, Finstripe, BBC America, NBC Universal, Hootsuite, Ziplocal, Ambronite,  50+ ecommerce companies, Homeless Charities, and many startups.</p>

          <br>
          <br>
          <p>As much as I love my life, there’s also more to it than building awesome digital products and business. 
I was born in Scotland (I’ve lost the accent), and immigrated to Canada when I was 7 years old. I’m a snowbird and am grateful to be able to split my time between Vancouver and Singapore.</p>

          <p>The best ideas come from anywhere and everywhere, so I try to fit in as much traveling, reading, design, <a href="http://instagram.com/norfolkterrier" target="_blank">Pacha</a> time, rollerblading, surfing, sunshine, coffee, podcasts, people watching, gourmet cheeseburgers, and Bangkok street food into my life as I can. When I’m not doing any of those things, I explore ideas for goal setting, mental health, and how we can share our personal journey with family and close friends.</p>

          <p>I’m happy you stopped by my little hole in the internet wall. I would love to hear your story, and your ideas about anything and everything.</p>



         <p>(twitter follow me).</p>

         <a class="twitter-follow-button"
  href="https://twitter.com/allbombs"
  data-size="large">
Follow @allbombs</a>


         <br>
         <br>
         <br>
          
        </div>
      </div>
    </div>
  </section>
  <section class="mission section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <img alt="kenny grant at a mountain" data-src="images/about-kenny-2.png" class="mobile lazy">
          <img alt="kenny grant at a mountain" data-src="images/about-kenny.png" class="desktop lazy">
        </div>
        <div class="column is-7">
          <h2>Mission Statement</h2>
          <p>I believe in adventure. Creating value for others. Facilitate significant improvements in productivity, happiness, mental health, and financial wealth around the world. To explore, remain open, improve myself everyday, but not take myself too seriously. Use my passion, creativity, and expertise in marketing to build memorable products and services that enrich people's lives.</p>

          <h2>Top Strengths</h2>
          <span class="first">Ideation</span>
          <span>Focus</span>
          <span>Competition</span>
          <span>Woo</span>
          <span>Achiever</span>

        </div>
      </div>
    </div>
  </section>
  <section class="values section">
    <div class="container">
      <div class="columns heading">
        <div class="column">
          <h3>NORTH STAR</h3>
          <h2>My Core Values</h2>
        </div>
      </div>
      <div class="columns is-multiline is-mobile is-desktop">
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Adventure</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Craftsmanship</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Growth</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>People</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Heart</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Epic</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Self Respect</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Work Ethic</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section gallery">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage1 %>">
          </div>
        </div>
        <div class="column is-4">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage2 %>">
          </div>
        </div>
        <div class="column is-4">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage3 %>">
          </div>
        </div>
        <div class="column is-8">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage4 %>">
          </div>
        </div>
        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage5 %>">
          </div>
        </div>
        <div class="column is-4">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage6 %>">
          </div>
        </div>
        <div class="column is-4">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage7 %>">
          </div>
        </div>
        <div class="column is-4">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage8 %>">
          </div>
        </div>
        <div class="column is-8 parent">
          <div class="column is-12 sub-column">
            <div class="img-wrapper">
              <img class="lazy" data-src="<%= page.galleryImage9 %>">
            </div>
          </div>
          <div class="column is-12 sub-column">
            <div class="img-wrapper">
              <img class="lazy" data-src="<%= page.galleryImage10 %>">
            </div>
          </div>
        </div>
        <div class="column is-4 double">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage11 %>">
          </div>
        </div>
        <div class="column is-8 parent">
          <div class="columns is-multiline parent">
            <div class="column is-12">
              <div class="img-wrapper">
                <img class="lazy" data-src="<%= page.galleryImage12 %>">
              </div>
            </div>
            <div class="column is-6 double">
              <div class="img-wrapper">
                <img class="lazy" data-src="<%= page.galleryImage13 %>">
              </div>
            </div>
            <div class="column is-6 double">
              <div class="img-wrapper">
                <img class="lazy" data-src="<%= page.galleryImage14 %>">
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4 parent">
          <div class="columns is-multiline parent">
            <div class="column is-12 double">
              <div class="img-wrapper">
                <img class="lazy" data-src="<%= page.galleryImage15 %>">
              </div>
            </div>
            <div class="column is-12">
              <div class="img-wrapper">
                <img class="lazy" data-src="<%= page.galleryImage16 %>">
              </div>
            </div>
          </div>
        </div>
        <div class="column is-12 double">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage17 %>">
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/compass') %>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>