<%- partial('_partial/header') %>
<div id="content-container">
  <section class="slider">
    <div class="container">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% page.swiperImages.forEach(function(image){ %>
            <div class="swiper-slide">
              <div class="img-wrapper">
                <img alt="<%=image[1]%>" src=<%= image[0] %>>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1>About Kenny</h1>
          <br>
          <p>Hi, my name is Kenny Grant, based out of Vancouver, Canada and Singapore. As a social impact entrepreneur and product leader, I specialize in team formation and shipping the first versions of digital products. I help teams conceptualize, develop, and launch incredible products that their users and customers love.</p>

          <p>Over the past 15 years, I have worked on a variety of technical, marketing, and operational challenges that led to both triumphant wins and epic defeats. The zero-to-one phase of any business is one of the most exciting parts, at least to me.</p> 

          <p>Since Covid, I have been working as a fractional CPO and CMO to startups and luxury e-commerce brands. In parallel, I build my own ideas. It might be something that I just want to exist in the world, or products simply born from curiosity or fueled by my interests. My '<a href"https://kenny.is/now">now page</a>' better reflects projects in motion. In short, I am a builder.</p>

          <br>
          <hr>
          <br>
          <br>

          <p><b>Clients and Collaborations:</b><br>
          Headphones.com, ProperLot, Huddle Works, Autozen, SupernovaBrands.com, 50+ ecommerce companies, Full Stack Ventures, Finstripe, BBC America, NBC Universal, Homeless Charities, Hootsuite, Ziplocal, Ambronite, Open Road Auto Group, and many startups.</p>


          <p><b>Founded + Side Projects:</b><br>
          <a href="http://promo.co" target="_blank">Promo</a>, <a href="http://shipmates.co" target="_blank">Shipmates</a>, + wack load of other apps that are no longer online. Check out <a href="https://www.producthunt.com/@allbombs/made">Product Hunt</a>, or read my blog for more details.</p>

          <br>
          <hr>
          <br>
          <br>
      
          <p>I want to live in a world where we encourage creativity, respect human attention, and practice conscious capitalism. How can we leverage technology to improve the world? I’m particularly interested in products that humanize technology to enrich people's lives. Are you working on social innovation or something similar? I'd love to connect. Please reach out (my twitter dms are open). Life is magical and mysterious... Friends, collaborations, clients? You never know.</p>

          
          <p>Outside of work, I enjoy reading, surfing, yoga, and rollerblading. I’m happy you stopped by my little hole in the internet wall. Have a nice day!
          <br><br><br>

          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="twitter-follow-button" href="https://twitter.com/allbombs" data-size="large" data-show-count="false">Follow @allbombs</a>


          <br><br><br><br>


          <div class="img-wrapper">
            <img src="images/painting-bali-product-studi-dream-team.jpg" alt="building magic painting bali product studio dream team">
          </div>



          <br><br><br>
        </div>
      </div>
    </div>
  </section>

  <section class="mission section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <img alt="kenny grant at a mountain" data-src="images/kenny-mission-statement-mobile-opt.png" class="mobile lazy">
          <img alt="kenny grant at a mountain" data-src="images/kenny-mission-statement-x-size-opt.png" class="desktop lazy">
        </div>
        <div class="column is-7">
          <h2>Mission Statement</h2>
          <p>Facilitate significant improvements in happiness, productivity, and mental health around the world. Humanize technology and digital experiences that enrich people’s lives. To explore, remain open, have fun in my journey, improve myself every day, but not take myself too seriously.</p>

        </div>
      </div>
    </div>
  </section>

  <section class="values section">
    <div class="container">
      <div class="columns heading">
        <div class="column">
          <h3>NORTH STAR</h3>
          <h2>My Core Values</h2>
        </div>
      </div>
      <div class="columns is-multiline is-mobile is-desktop">
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Growth</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Heart</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Creativity</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>People</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery section">
    <div class="container">
      <div class="columns is-multiline">
        

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage12 %>">
          </div>
        </div>



        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage16 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage18 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage19 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage17 %>">
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/compass') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>