<%- partial('_partial/header') %>
<div id="content-container">
  <section class="slider">
    <div class="container">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% page.swiperImages.forEach(function(image){ %>
            <div class="swiper-slide">
              <div class="img-wrapper">
                <img alt="<%=image[1]%>" src=<%= image[0] %>>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1>About Kenny</h1>
          <br>
          <p>Hey! Thanks for stopping by. I’m Kenny Grant, I love bringing digital products to life. This love has taken me to places around the world and given me experiences that are best talked about in real life over coffee (or a <a href="https://calendly.com/allbombs/virtual-coffee?month=2020-06">virtual one</a>).</p>

          <p>What am I up to? I’m developing new consumer facing products for personal productivity and happiness. I also provide consulting support for startups and D2C ecommerce companies. <a href="https://calendly.com/allbombs">Need help</a>?</p>

          <p>My professional career covers digital innovation in emerging technologies, product management, team building, and marketing. Before starting a product studio called <a href="http://viralfoundry.com/" target="_blank">Viral Foundry</a>, I was an Entrepreneur-in-Residence at <a href="https://angel.co/fullstackventures" target="_blank">Full Stack Ventures</a>, launched products for 60k SMBs across the United States, and incubated applications for BBC America and NBC Universal.</p>

          <p>I believe digital products are more than just binary code or pixels on a screen. I want to connect and collaborate with other builders to fix worthwhile problems. I love my life and I feel incredibly grateful to have (objectively) the best job in the world: inventing new things for people around the world.</p>

          <br>
          <p><b>Building:</b><br>
          Happiness Related Products + Startup Consulting</p>

          <p><b>Previously Built:</b><br>
          <a href="http://shipmates.co" target="_blank">Shipmates</a>, <a href="http://sticker.unfurls.co" target="_blank">Unfurls Stickers</a>, <a href="https://unfurls.co/shopify-social-score" target="_blank">Shopify Social Score</a>, <a href="http://promo.co" target="_blank">Promo</a>, <a href="http://viralfoundry.com" target="_blank">Viral Foundry</a>, <a href="http://unfurls.co/lookout" target="_blank">Lookout</a>, <a href="http://slack.com/apps/A75LZMBKM-unfurls" target="_blank">Lookout Slack App</a>, + others that are no longer online</p>

          <p><b>Clients and Collaborations:</b><br>
          Full Stack Ventures, Finstripe, BBC America, NBC Universal, Hootsuite, Ziplocal, Ambronite, Open Road Auto Group,  50+ ecommerce companies, Homeless Charities, and many startups.</p>

          <br><br>

          <p>As much as I love my life, there’s also more to it than building awesome digital products and business. I was born in Scotland (I’ve lost the accent), and immigrated to Canada when I was 7 years old. I’m a snowbird and am grateful to be able to split my time between Vancouver and Singapore.</p>

          <br>

          <div class="img-wrapper">
            <img src="images/painting-bali-product-studi-dream-team.jpg" alt="building magic painting bali product studio dream team">
          </div>

          <br><br>

          <p>The best ideas come from anywhere and everywhere, so I try to fit in as much traveling, <a href="http://kenny.is/reading">reading</a>, design, rollerblading, surfing, sunshine, people watching, and gourmet cheeseburgers into my life as I can. When I’m not doing any of those things, I explore ideas for goal setting, mental health, and how we can share our personal journey with family and close friends.</p>
          <p>I’m happy you stopped by my little hole in the internet wall. I would love to hear your story, and your ideas about anything and everything.  </p>
          <br>

          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="twitter-follow-button" href="https://twitter.com/allbombs" data-size="large" data-show-count="false">Follow @allbombs</a>

          <br><br><br>
        </div>
      </div>
    </div>
  </section>

  <section class="mission section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <img alt="kenny grant at a mountain" data-src="images/kenny-mission-statement-mobile-opt.png" class="mobile lazy">
          <img alt="kenny grant at a mountain" data-src="images/kenny-mission-statement-x-size-opt.png" class="desktop lazy">
        </div>
        <div class="column is-7">
          <h2>Mission Statement</h2>
          <p>Facilitate significant improvements in happiness, productivity, and mental health around the world. I believe in adventure and creating value for others. To explore, remain open, improve myself everyday, but not take myself too seriously. Build memorable products and experiences that enrich people's lives.</p>

          <h2>Top Strengths</h2>
          <span class="first">Ideation</span>
          <span>Focus</span>
          <span>Competition</span>
          <span>Woo</span>
          <span>Achiever</span>

        </div>
      </div>
    </div>
  </section>

  <section class="values section">
    <div class="container">
      <div class="columns heading">
        <div class="column">
          <h3>NORTH STAR</h3>
          <h2>My Core Values</h2>
        </div>
      </div>
      <div class="columns is-multiline is-mobile is-desktop">
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Adventure</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Growth</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Craftsmanship</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>People</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Heart</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Epic</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Self Respect</h5>
          </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
          <div class="content">
            <h5>Work Ethic</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery section">
    <div class="container">
      <div class="columns is-multiline">
        

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage12 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage13 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage14 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage15 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage16 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage18 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage19 %>">
          </div>
        </div>

        <div class="column is-12">
          <div class="img-wrapper">
            <img class="lazy" data-src="<%= page.galleryImage17 %>">
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/compass') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>