<%- partial('_partial/header') %>
<div id="content-container">
  <section class="section journal blog">
    <div class="container">
      <div class="columns heading">
        <div class="column">
          <h1>Blog</h1>
          <hr />
        </div>
      </div>

      <div id="limited_posts" class="columns content">
        <ul>
          <% site.posts.sort('date', -1).limit(6).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>">
              <div class="journal-preview">
                <h4><%- post.post_title %></h4>
                <span><%= date(post.date, 'MMM DD, YYYY') %></span>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>

      <div id="all_posts" class="columns content">
        <ul>
          <% site.posts.sort('date', -1).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>">
              <div class="journal-preview">
                <h4><%- post.post_title %></h4>
                <span><%= date(post.date, 'MMM DD, YYYY') %></span>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>

      <div class="columns">
        <div class="column">
          <a onclick="showAllPosts()" class="more color-transition">See All Entries</a>
        </div>
      </div>
    </div>
  </section>
  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>