<%- partial('_partial/header') %>
<div id="content-container">
  <section class="builder-banner">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="banner-container">
            <img alt="paddy fields" class="desktop" src=<%= page.banner_desktop %>>
            <img alt="paddy fields" class="mobile" src=<%= page.banner_mobile %>>
          </div>
          <div class="text-triangle"><span>builder</span></div>
        </div>
      </div>
    </div>
  </section>

  <section class="builder-content">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1>Page Title</h1>
          <p>Where else can we go with this? What about adding some smarts? Can you target referrer or personalize unfurls in some way? Can you hide secret URLs in your unfurl? What about time of day? Maybe a different image every time? What about geounfurls? </p>

          <p>We’re at the very beginning of intertwingling sites, metadata, and non-browser consuming applications like Slack. Just like title tags, SEO, or web design, having the words talk about nothing and something proper hygiene about including proper meta-tags in your blog or application is table stakes.</p>

          
        </div>
      </div>
    </div>
  </section>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>