<%- partial('_partial/header') %>
<div id="content-container">
  <section class="section banner">
    <div class="container">
        <h1>My Personal Development and Growth Experiments</h1>
      <div class="img-wrapper">
        <img src="images/growth-sun-rise-man-best-friend.jpg" alt="growth sunrise man best friend">
      </div>
    </div>
    </section>

  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p>I’m exploring new ways to share my professional and personal journey with close ones. Whoops.. ran out of time relaunching my new website.</p>

<p>At a later time, i’ll share some of my personal reports and a small digital product/property to track and share your own journey with your tribe. 123</p>

        
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
  </section>
  <%- partial('_partial/newsletter') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>