<%- partial('_partial/header') %>
<div id="content-container">
  <section class="section banner">
    <div class="container">
      <h1>I Love Bringing New Digital 
      Products To Life</h1>
      <div class="img-wrapper">
        <img src="images/kenny-grant-bali-homepage-optimized.jpg" alt="kenny grant bali grass paddy fields">
      </div>
    </div>
    <div class="overlay"></div>
  </section>


<section class="section greetings">
    <div class="overlay"></div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3>Greetings</h3>
          <h2>Welcome to my personal website. I’m currently in <span>Vancouver, Canada</span> and building the following
            businesses:</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="page-preview">
            <a href="https://calendly.com/allbombs/intro-call" target="_blank">
              <img src="images/Venture-Build-Website-Card-previews.jpg" alt="world globe photo">
              <div class="content">
                <h5>Venture Builder</h5>
                <p>I help startup founders conceptualize, build, and ship incredible products.</p>
                <span>MVPs</span><span>Product</span><span>Design</span>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="page-preview unfurls">
            <a href="http://viralfoundry.com" target="_blank">
              <img src="images/secret-stuff.jpg" alt="huh?">
              <div class="content">
                <h5>Viral Foundry</h5>
                <p>Creating value-driven products that leave a positive dent.</p>
                <span>Product Studio</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
      <div class="columns">
        <div class="column">
          
          <h2><span></span></h2>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="page-preview">
            <a href="https://calendly.com/allbombs/shopify-ecommerce-intro-call" target="_blank">
              <img src="images/Shopify-Website-Card-Previews.jpg" alt="ecommerce shopify help">
              <div class="content">
                <h5>Ecommerce Consultant</h5>
                <p>Act as an interim Shopify store product owner and marketing leader.</p>
                <span>Shopify Plus</span><span>Headless</span>
              </div>
            </a>
          </div>
        </div>
        
        
      </div>
    </div></section>




  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/compass') %>

  <section class="section journal">
    <div class="container">
      <div class="columns heading">
        <div class="column">
          <h3>WORDS</h3>
          <h2>Latest Blog Entries</h2>
        </div>
      </div>
      <div class="columns content">
        <ul>
          <% page.posts.sort('date', -1).limit(3).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>">
              <div class="journal-preview">
                <h4><%- post.post_title %></h4>
                <span><%= date(post.date, 'MMM DD, YYYY') %></span>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="columns">
        <div class="column">
          <a class="more color-transition" href="/blog">See All Blog Entries</a>
        </div>
      </div>
    </div>
  </section>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>