<%- partial('_partial/header') %>
<div id="content-container">
  <section class="section banner">
    <div class="container">
      <h1>Music</h1>
      <div class="img-wrapper">
        <img src="images/kenny-grant-music-beach-dj.jpg" alt="kenny grant house music dj bali">
      </div>
    </div>
    </section>
  <section class="section greetings">
    <div class="container">
      
      <div class="columns">
        <div class="column">
          <div class="page-preview">
            <a href="/summer-sizzle" target="_blank">
              <img src="images/summer-sizzle-card-preview.jpg" alt="summer sizzle cd cover">
              <div class="content">
                <h5>Summer Sizzle</h5>
                <p>Collection of my favorite tracks from this summer. Best served poolside.</p>
                <span>Nu Disco</span>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="page-preview unfurls">
            <a href="/queen-of-the-north" target="_blank">
              <img src="images/queen-of-the-north-preview2.jpg" alt="queen of the north cd cover">
              <div class="content">
                <h5>Queen of The North</h5>
                <p>A 65 minute mix of deep, soulful, groovin, and jacking dance music.</p>
                <span>House Music</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>