<%- partial('_partial/header') %>
<div id="content-container">

  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <br>
          <h1>What I’m Doing Now</h1><br>

          <p>This is a now page, <a href="https://nownownow.com/about">inspired by Derek Sivers</a>. Its aim is to provide you with a very high level overview of what's going on in my life. More about what's happening can be found in my email newsletter, <a href="https://kenny.is/blog">blog</a>, and <a href="https://twitter.com/allbombs">twitter feed</a>.</p>
          
          <br>
         <hr>
         <br><br>

          <h1>What</h1> 
          <p>- Operating from positive energy + mission statement + core values + conscious leadership.</br>
          - Consulting with early-stage startup founders. My availability allows me to assist 2-3 teams per quarter. My services include: Building Digital Products, Co-founder for hire, and Special Ecommerce Projects. (I'm taking on 1 new project).<br>
          - Establishing a community that promotes positive social ventures and bootstrapping a <a href="https://viralfoundry.com">value-driven product studio</a>.<br>
          - Producing a podcast called <a href="https://sharethevibe.com">Share The Vibe</a>.<br>
          - Revamping my personal website and online presence. <br>
          - Reading The 15 Commitments of Conscious Leadership. <br>
          - Maintaining my morning pages routine.
          </p>
          <br>

          <h1>Where</h1> 
          <p>I'm currently based in Vancouver, Canada.</p><br>

          <br>
          <p><i>Last updated: April 19, 2022</i></p>



      </div>
    </div>
 

    <br>
    <br>
    
  </section>
  <%- partial('_partial/newsletter') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>