<%- partial('_partial/post-header') %>
<div id="content-container">
<%- partial('_partial/article', {post: page, index: false}) %>
<%- partial('_partial/post-footer', null, {cache: !config.relative_link}) %>
</div>