<%- partial('_partial/header') %>
<div id="content-container">
  <section class="section banner">
    <div class="container">

        <img src="images/queen-of-the-north-font-cover-kenny-grant.jpg" alt="queen of the north font cover kenny grant house music">

    </div>
    </section>


  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">

       <h1>Queen Of The North</h1>         

        <p>I’m excited to share my latest dj mix titled Queen of the North. It’s a 65 minute mix of deep, soulful, groovin, and jacking house music. Huge thanks to my designer, special lady, and the podcast subscribers. Hope you enjoy the mix, don’t forget to subscribe to the podcast and let me know in the comments what songs you like best. </p>

        
        <br>

        <p><strong>Tracklisting:</strong><br>
01. Fred Everything – Here I Am<br>
02. Bah Samba – Live In The Summer<br>
03. Knee Deep – All About Love<br>
04. Roberto De Carlo – Electric Soul Power<br>
05. Tortured Soul – In My Fantasy<br>
06. Deep City Soul – Groove School<br>
07. Jay West – Love Me Not<br>
08. Johnick – The Return Of The Meatman<br>
09. Kirby and Damien Bailey – I Like it<br>
10. Easily Influenced – Rockit<br>
11. KB Swing – Klets<br>
12. Chris Harris – This Is It<br>
13. John Hawley – Electric Lush<br>
14. D-t3ch – Unseen Things<br>
15. Soydan – Funky Daddy<br>
16. Monoman – Gotta Move<br>
17. The Girth – Nubian Funk<br>
18. Kinky Movement – Two Minute Warning<br>
19. The House Inspectors – Come Back<br>

<br></p>

<br>

<p><strong>Listen Now:</strong><br>
<a href="https://www.mixcloud.com/housemusicpodcast/queen-of-the-north-kenny-grant/">Mixcloud</a><br>
<a href="http://kenny.is/media/Kenny_Grant_-_Queen-of-the-North.mp3">Download MP3</a><br>
<a href="http://kenny.is/media/Kenny_Grant-Queen_of_the_North.zip">Download Zip</a><br>
<a href="http://kenny.is/media/queenofnorth.iso">ISO Image</a><br>
</p>


         <br>
         <br>

         <img src="images/queen-of-the-north-back-cover-kenny-grant.jpg" alt="queen of the north back cover kenny grant house music">

         <br>
          
        </div>
      </div>
    </div>
  </section>
         <br>
         <br>
         <br> 
<section class="comments section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- START DISQUS -->
        <div class="disqus container narrow">
          <div id="disqus_thread"></div>
          <script>
          (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
              var d = document, s = d.createElement('script');
              
              s.src = '//kennyis.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
              
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        <!-- END DISQUS -->
      </div>
    </div>
  </div>
  </section>
         <br>
         <br>
         <br> 

  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>

