<%- partial('_partial/header') %>
<div id="content-container">

  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          
          <h1>My Book List</h1><br>
          
          <p><i>Updated Nov 14, 2021</i></p><br>
          <p><strong>What I'm reading:</strong></p>

          <p>Overall, struggling to manage this page and looking for goodreads alternatives. How do you manage your reading list? </p>

          <p>
      <a href="https://www.amazon.ca/15-Commitments-Conscious-Leadership-Sustainable/dp/0990976904/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=">The 15 Commitments of Conscious Leadership: A New Paradigm for Sustainable Success</a><br><br>
		  <a href="https://www.amazon.com/gp/product/B08L3NW6VM/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1">Attention Factory: The Story of TikTok and China's ByteDance</a><br><br>
      <a href="https://www.amazon.com/Autobiography-Self-Realization-Fellowship-Paramahansa-Yogananda/dp/0876120826/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr=">Autobiography of a Yogi: Paramahansa Yogananda</a><br><br> 
          </p><br>

          <p><strong>Bookshelf:</strong></p>

          <p>

<a href="https://amzn.to/2WkYOKD">Creativity, Inc: Overcoming the Unseen Forces That Stand in the Way of True Inspiration</a><br><br>
<a href="https://amzn.to/31hBukZ">The Culture Code: The Secrets of Highly Successful Groups</a><br><br><a href="https://amzn.to/3iRZh0K">The Power of Your Subconscious Mind</a><br><br>
<a href="https://amzn.to/34kwoq4">Get Together: How to build a community with your people</a><br><br>
<a href="https://amzn.to/3iZ9WXl">Flow: The Psychology of Optimal Experience</a><br><br>
<a href="https://amzn.to/3kZGJh3">The Hero with a Thousand Faces </a><br><br>
<a href="https://www.amazon.com/gp/product/1614275688/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1">The Edinburgh Lectures on Mental Science</a><br><br> 
<a href="https://www.amazon.com/gp/product/1492157619/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1">The Creative Process in the Individual </a><br><br> 
<a href="https://amzn.to/2CIRVgu">Good to Great: Why Some Companies Make the Leap and Others Don't</a><br><br>
<a href="https://amzn.to/3d86SFE">Indistractable; How to Control Your Attention and Choose Your Life</a><br><br>
<a href="https://amzn.to/2yoJFQp">Principles</a><br><br>
<a href="https://amzn.to/2SsOrU1">Pour Your Heart Into It: How Starbucks Built a Company One Cup at a Time</a><br><br>
<a href="https://amzn.to/3dbISS1">Walt Disney: The Triumph of the American Imagination</a><br><br>
<a href="https://amzn.to/2xv612C">Wooden: A Lifetime of Observations and Reflections On and Off the Court</a><br><br>
<a href="https://amzn.to/2XYReXb">The Tipping Point</a><br><br>
<a href="https://amzn.to/2Y0qbe2">Meetings with Remarkable Men</a><br><br>
<a href="https://amzn.to/2ZJ1TWo">Full Catastrophe Living</a><br><br>
<a href="https://amzn.to/2UcFNdf">Super Thinking: The Big Book of Mental Models</a><br><br>
<a href="https://amzn.to/2Bz6TF4">Alchemy: The Dark Art and Curious Science of Creating Magic in Brands, Business, and Life</a><br><br>
<a href="https://www.amazon.com/gp/product/0060742763/ref=ppx_yo_dt_b_asin_title_o07_s00?ie=UTF8&psc=1">Setting the Table: The Transforming Power of Hospitality in Business</a><br><br>




          </p><br>

          <p><strong>Finished:</strong></p>

          <p>



<a href="https://www.amazon.com/Happiness-Advantage-Principles-Psychology-Performance/dp/0307591549">The Happiness Advantage</a><br><br>
<a href="https://www.amazon.com/Artists-Way-25th-Anniversary/dp/0143129252">The Artists Way</a><br><br> 
<a href="https://amzn.to/2vsMVsn">The Great CEO Within</a><br><br>
<a href="https://amzn.to/2ZxWLp7">Conscious Capitalism</a><br><br>
<a href="https://www.amazon.com/Little-Book-Gratitude-happiness-wellbeing/dp/1856753654">The Little Book of Gratitude</a><br><br>
<a href="https://amzn.to/3lX3aDS">Man's Search for Meaning</a><br><br>          
<a href="https://amzn.to/329cag9">Sometimes You Win--Sometimes You Learn</a><br><br>
<a href="#">Wayne Dyer - Real Magic</a><br><br>
<a href="#">Several Shirley Maclaine books</a><br><br>
<a href="https://amzn.to/34j7aZ9">Crucial Conversations Tools for Talking When Stakes Are High</a><br><br>
<a href="https://amzn.to/3ddtFQt">How to Be Like Walt</a><br><br>
<a href="https://amzn.to/3fb9X9B">Let My People Go Surfing: The Education of a Reluctant Businessman</a><br><br>
<a href="https://amzn.to/2MwMJxM">The Happiness of Pursuit: Finding the Quest That Will Bring Purpose to Your Life</a><br><br>
<a href="https://amzn.to/39zyDEN">Art Of War</a><br><br>
<a href="https://amzn.to/3aWPnru">Mindset: The New Psychology of Success</a><br><br>
<a href="https://amzn.to/2uRO8t0">The Untethered Soul</a><br><br>
<a href="https://amzn.to/3aVxtp4">Cosmic Consciousness</a><br><br>
<a href="https://amzn.to/2MPVW4u">Psychology of Achievement</a><br><br>
<a href="https://amzn.to/2Qni9cF">As a Man Thinketh</a><br><br>
<a href="https://amzn.to/37veSgX">Little Black Stretchy Pants</a><br><br>
<a href="https://amzn.to/2QMNO6m">You Are Awesome</a><br><br>
<a href="https://amzn.to/36j52yt">Zen Mind, Beginner's Mind</a><br><br>
<a href="https://amzn.to/2Bz9bUF">The Goal</a><br><br>
<a href="https://amzn.to/2z85PqS">Losing My Virginity</a><br><br>
<a href="https://amzn.to/2U6Ymzu">Shoe Dog: A Memoir by the Creator of Nike</a><br><br>
<a href="https://amzn.to/3gSQTOn">Agencynomics</a><br><br>
<a href="https://amzn.to/2Ubm39O">How to Get Filthy Rich in Rising Asia</a><br><br>
<a href="https://amzn.to/3dAvMyj">The Slicing Pie Handbook: Perfectly Fair Equity Splits for Bootstrapped Startups</a><br><br>
<a href="https://amzn.to/2A0bgs8">The Obstacle Is the Way</a><br><br>
<a href="https://amzn.to/37coBKp">The Power of Now</a><br><br>
<a href="https://amzn.to/2Y15Rcj">Rocket Fuel: The One Essential Combination That Will Get You More of What You Want from Your Business</a><br><br>
<a href="https://amzn.to/2Uay2EJ">How to Fail at Almost Everything and Still Win Big: Kind of the Story of My Life</a><br><br>
<a href="https://amzn.to/3719tz5">Anatomy of Startup Studios: A behind the scenes look at how successful venture builders operate</a><br><br>
<a href="https://amzn.to/2MrNFDx">Think and Grow Rich</a><br><br>
<a href="https://amzn.to/3dyMRbZ">How to Own Your Own Mind</a><br><br>
<a href="https://amzn.to/2zTUETb">The Master Key System</a><br><br>
<a href="https://amzn.to/2Mv53Hs">Anything You Want: 40 Lessons for a New Kind of Entrepreneur</a><br><br>
<a href="https://amzn.to/3cvOzt7">Zero to One: Notes on Startups, or How to Build the Future</a><br><br>
<a href="https://amzn.to/2MvRdEU">Smartcuts: How Hackers, Innovators, and Icons Accelerate Success</a><br><br>

          </p><br>

          <p>Feeling these books too? Have a recommendation? Drop me a line on <a href="http://twitter.com/allbombs">twitter</a>.</p>

<br>
    
<br>

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
  </section>
  <%- partial('_partial/newsletter') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>