<%- partial('_partial/header') %>
<div id="content-container">
  <section class="section banner">
    <div class="container">

        <img src="images/Summer-Sizzle-Front.jpg" alt="summer sizzle cd">

    </div>
    </section>
  
  <section class="about section">
    <div class="container">
      <div class="columns">
        <div class="column">
          
       <h1>Summer Sizzle</h1>         

        <p>This weekend, I was djing a boat party and wanted to create a collection of my favorite tracks from this summer. Inspired for poolside consumption. Enjoy.</p>

        <br>

        <p><strong>Tracklisting:</strong><br>
01. Crazy P - Changes (Mario Basanov Remix)<br>
02. Mam - Crushed Ice<br>
03. Honom - Bedcat<br>
04. Kris Menace - Stars On 33 - LUV<br>
05. Crazy P presents Syndromes - The Hit<br>
06. Willie Graff and Tuccillo - Set Me Free<br>
07. Noir and Haze - Around<br>
08. Luca C and Brigante - Flashlight (Solomun Remix)<br>
09. Nebraska - This Is The Way<br>
10. Butch - Got The Funk<br>
11. MAM - Reel Sweet<br>
12. Solomun - Kackvogel<br>
13. Claptone - Cream<br>
14. Funky Fat and Digitaria - Masochist<br>
15. NTFO and Karmon - Nobody Else<br>
16. Mario Basanov - We Are Child Of Love (Redub)<br>
17. Martin Roth - Beautiful Life<br>
18. Ry Cuming - Howling (Ame Remix)<br>
19. Foals - Olympic Airways (Supermayer Remix)<br></p>

<br>

<p><strong>Listen Now:</strong><br>
<a href="https://www.mixcloud.com/kennygrant/summer-sizzle-house-mix-kenny-grant/">Mixcloud</a><br>
<a href="http://kenny.is/media/Kenny-Grant-Summer-Sizzle-House-Mix.mp3">Download MP3</a><br>
<a href="http://kenny.is/media/Kenny_Grant-Queen_of_the_North.zip">Download Zip</a><br>

</p>


         <br>
         <br>

         <img src="images/Summer-Sizzle-Back.jpg" alt="Summer Sizzle Back cover kenny grant house music">

         <br>
          
        </div>
      </div>
    </div>
  </section>
         <br>
         <br>
         <br> 
<section class="comments section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- START DISQUS -->
        <div class="disqus container narrow">
          <div id="disqus_thread"></div>
          <script>
          (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
              var d = document, s = d.createElement('script');
              
              s.src = '//kennyis.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
              
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        <!-- END DISQUS -->
      </div>
    </div>
  </div>
  </section>
         <br>
         <br>
         <br> 

  <%- partial('_partial/newsletter') %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>

